

<div class="modal" [ngClass]="{'modal-entrada': mostrarModal, 'modal-salida': mostrarModal ==false, '':mostrarModal==null}"  role="dialog" style=" background-color: #000000a6;">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <ng-content></ng-content>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" *ngIf="isEdition" (click)="guardarCambios()">Guardar </button>
          <button type="button" class="btn btn-outline-primary" *ngIf="!isEdition" (click)="guardarSolicitud()" >Solicitar</button>
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="cerrarModal()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>