
.inp-filters {
    max-width: 800px;
    display: flex;
    gap: 40px;
    max-height: 56px;
    overflow: hidden;
    justify-content: space-around;
}
.mat-mdc-form-field {
    display: block;
}

hr {
    margin: 0.4rem 0 ;
}


.table thead tr th {
    text-align: center;
}

.table tbody tr td {
    text-align: center;
}

.buttons-td {
    display: flex;
    justify-content: space-around;
}

.filters {
    display: flex;
    justify-content: space-between;
    gap: 10px;

}

.cont-pag-filters {
    display: flex;
    justify-content: space-between;
}


.filters p {
    font-size: 23px;
    margin-bottom: 0px;
    font-weight: 600;
}

.filters select {
    max-width: 200px;
}