
<main style="margin: 60px 90px;">
    <section class="container-sm">
        <h1>
            Solicitudes
        </h1>
        <hr > 
        <section class="filters">
          <p>Filtrar: </p>
          <select class="form-select">
            <option value="1">N</option>
          </select>
        </section>
        <hr>
        <table class="table table-hover">
            <thead>
              <tr>
                <th *ngFor="let header of ownHeaders">{{header}} </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor ="let solicitud of solicitudes">
                <td>{{solicitud.id}}</td>
                <td>{{solicitud.department.name}}</td>
                <td>{{solicitud.producto.name}}</td>
                <td>26/9/2023</td>
                <td>{{solicitud.quantity_asked}}</td>
                <td>{{solicitud.name}}</td>
                <td>{{solicitud.email}}</td>
                <td>{{solicitud.status}}</td>
                <td class="buttons-td">
                    <button class="btn btn-outline-success " type="button" *ngIf="solicitud.status  == 'En proceso'"  (click)="modifyStatus(2,solicitud.id)" >Aprobar</button>
                    <button class="btn btn-outline-primary"  (click)="modifyStatus(2,solicitud.id)" *ngIf="solicitud.status == 'Aprobada'" type="button">Entregar</button>
                    <button class="btn btn-outline-danger " type="button" *ngIf="solicitud.status  == 'En proceso'"   (click)="modifyStatus(1,solicitud.id)">Rechazar</button>
                    <button class="btn btn-outline-primary" *ngIf="solicitud.status=='Rechazada' || solicitud.status=='Entregada'">Ver detalles</button>
                  </td>
                
              </tr>
            </tbody>
          </table>
          
    </section>
</main>