<div class='input-section'>
    <h2 class="text-center">Detalles</h2>
    <hr />
    <div class="width-1-1@s">
        <label class="form-label" for="txtModel">Nombre</label>
        <div class="form-controls">
            <input class="input" id="txtModel" type="text" placeholder="" [(ngModel)] = "solict.name">
        </div>
    </div>
    <div class="my-3">
        <label class="form-label" for="txtBrand">Email</label>
        <div class="form-controls">
            <input class="input" id="txtBrand" type="email" placeholder="" [(ngModel)]="solict.email">
        </div>
    </div>
    <div class="my-3">
        <label class="form-label" for="txtYear">Cantidad pedida</label>
        <div class="form-controls">
            <input class="input" id="txtYear" type="number" value="1" [(ngModel)]="solict.quantity_asked">
        </div>
    </div>
    <div class="my-3">
        <label class="form-label" for="txtYear">Detalles</label>
        <div class="form-controls">
            <textarea class="textarea" id="txtYear" type="number" value="1" [(ngModel)]="solict.quantity_asked"> </textarea>
        </div>
    </div>

</div>
