
<main  class="mainCont">
    <app-modal (saveChanges)="saveEdit()" (solict)="saveSolic()">
        <app-form-add [modal]="true" (updt)="getProductsAlm();closeModal()" *ngIf="solicitudes_view==false && encargados_view==false" [product]="selectedProduct" >  </app-form-add>
        <app-form-solicd *ngIf="solicitudes_view==true || encargados_view== true" (isCreated)="this.showAlert=true; closeModal()" ></app-form-solicd>
    </app-modal>
 
    <header>
        <h1>
            Productos             
        </h1>
        <hr>
        <ul *ngIf ="solicitudes_view">
            <li>Departamento: {{dep.name}}</li>
            <li>Recinto: {{dep.recinto}}</li>
            
        </ul>
        <ul *ngIf ="!solicitudes_view">
            <li><b>Usuario:</b> {{userInfo.name}}</li>
            <li *ngIf="encargados_view"><b>Departamento:</b> {{userInfo.name}}</li>
            <li><b>Recinto:</b> {{userInfo.almacen_name}}</li>
            
        </ul>
        <hr >


    </header>
    <section  class="input">
        <input data-v-a2472bc4="" type="text" id="key" name="key">
        <button data-v-a2472bc4="" class="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
        </button>
    </section>
    <div class="alert alert-success alert-dismissible fade show mt-2" role="alert" *ngIf="this.showAlert">
        Su solicitud se ha realizado con exito, puede consultar el estatus a su encargado
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="this.showAlert = false"></button>
      </div>
    <section class="cards-container">
        <div class="card" style="width: 18rem; " *ngFor="let item of products">
            <div class="img-container" style="width: 288px; height: 150px;">
                <img src="http://127.0.0.1:8000/products/imagen/{{item.id}}" style="object-fit: cover; width: 100%; height: 100%;" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{item.name}}</h5>
              <ul>
                <li>
                    <b>Cantidad disponible: </b> {{item.quantity_available}}
                </li>
                <li>
                    <b>Tiempo de entrega: </b> {{item.delivered_estimated}} horas
                </li>
              </ul>
              <button type="button" class="btn btn-outline-success" (click)="editar(item)" *ngIf="solicitudes_view == false && encargados_view==false">Editar</button>
              <button type="button" class="btn btn-outline-secondary"  (click)="makeSolic(item)" *ngIf="solicitudes_view == true || encargados_view==true">Solicitar</button>
            </div>

        </div>
    </section>
</main>